/.git/*
/.vscode/*
/.vscode.example/*
/app/*
/bootstrap/*
/config/*
/database/*
/node_modules/*
/public/*
/resources/lang/*
/resources/assets/sass/*
/resources/views/*
/routes/*
/storage/*
/tests/*
/vendor/*
.editorconfig
.env
.env.example
.eslintignore
.eslintrc
.gitattributes
.gitignore
artisan
composer.json
package.json
phpcs.xml
phpunit.xml
README.xml
server.php
webpack.mix.js
yarn.lock
package-lock.json

